In [ ]:
import pandas as pd
import numpy as np

In [90]:
df = pd.read_csv('../csv_files/globalterrorismdb.csv', encoding='latin1')
df = df.drop_duplicates()
df.head()

C:\Users\User\AppData\Local\Temp\ipykernel_1568\2860647856.py:1: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../csv_files/globalterrorismdb.csv', encoding='latin1')

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [91]:
df.rename(columns={'iyear':'Year', 'imonth':'Month', 'iday':'Day', 'country_txt':'Country', 'provstate':'state',
                     'region_txt':'Region', 'attacktype1_txt':'AttackType', 'target1':'Target', 'nkill':'Killed',
                     'nwound':'Wounded', 'summary':'Summary', 'gname':'Group', 'targtype1_txt':'Target_type',
                     'weaptype1_txt':'Weapon_type', 'nperps': 'nperps'
                    },inplace=True)
df

,eventid,Year,Month,Day,approxdate,extended,resolution,country,Country,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

In [92]:
df = df[['eventid','Year','Month','Day','Country','Region','state','city','latitude','longitude','AttackType','Killed','Wounded',
            'Target','Summary','Group','Target_type','Weapon_type', 'nperps', 'success']]
df

,eventid,Year,Month,Day,Country,Region,state,city,latitude,longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type,nperps,success
0,197000000001,1970,7,2,Dominican Republic,Central America & Caribbean,NaN,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown,NaN,1
1,197000000002,1970,0,0,Mexico,North America,Federal,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown,7.0,1
2,197001000001,1970,1,0,Philippines,Southeast Asia,Tarlac,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown,NaN,1
3,197001000002,1970,1,0,Greece,Western Europe,Attica,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives,NaN,1
4,197001000003,1970,1,0,Japan,East Asia,Fukouka,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,Somalia,Sub-Saharan Africa,Middle Shebelle,Ceelka Geelow,2.359673,45.385034,Armed Assault,1.0,2.0,Checkpoint,12/31/2017: Assailants opened fire on a Somali...,Al-Shabaab,Military,Firearms,-99.0,1
181687,201712310029,2017,12,31,Syria,Middle East & North Africa,Lattakia,Jableh,35.407278,35.942679,Bombing/Explosion,2.0,7.0,Hmeymim Air Base,12/31/2017: Assailants launched mortars at the...,Muslim extremists,Military,Explosives,-99.0,1
181688,201712310030,2017,12,31,Philippines,Southeast Asia,Maguindanao,Kubentog,6.900742,124.437908,Facility/Infrastructure Attack,0.0,0.0,Houses,12/31/2017: Assailants set fire to houses in K...,Bangsamoro Islamic Freedom Movement (BIFM),Private Citizens & Property,Incendiary,-99.0,1
181689,201712310031,2017,12,31,India,South Asia,Manipur,Imphal,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives,-99.0,0
181690,201712310032,2017,12,31,Philippines,Southeast Asia,Maguindanao,Cotabato City,7.209594,124.241966,Bombing/Explosion,0.0,0.0,Unknown,12/31/2017: An explosive device was discovered...,Unknown,Unknown,Explosives,-99.0,0

In [74]:
print("Country with the most attacks:",df['Country'].value_counts().idxmax())
print("City with the most attacks:",df['city'].value_counts().index[1]) #first entry is 'unknown'
print("Region with the most attacks:",df['Region'].value_counts().idxmax())
print("Year with the most attacks:",df['Year'].value_counts().idxmax())
print("Month with the most attacks:",df['Month'].value_counts().idxmax())
print("Group with the most attacks:",df['Group'].value_counts().index[1])
print("Most Attack Types:",df['Weapon_type'].value_counts().idxmax())

Country with the most attacks: Iraq
City with the most attacks: Baghdad
Region with the most attacks: Middle East & North Africa
Year with the most attacks: 2014
Month with the most attacks: 5
Group with the most attacks: Taliban
Most Attack Types: Explosives

In [93]:
df.loc[:, 'Date'] = pd.to_datetime(df[['Year', 'Month', 'Day']], errors='coerce')
df

C:\Users\User\AppData\Local\Temp\ipykernel_1568\846673521.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'Date'] = pd.to_datetime(df[['Year', 'Month', 'Day']], errors='coerce')

,eventid,Year,Month,Day,Country,Region,state,city,latitude,longitude,...,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type,nperps,success,Date
0,197000000001,1970,7,2,Dominican Republic,Central America & Caribbean,NaN,Santo Domingo,18.456792,-69.951164,...,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown,NaN,1,1970-07-02
1,197000000002,1970,0,0,Mexico,North America,Federal,Mexico city,19.371887,-99.086624,...,0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown,7.0,1,NaT
2,197001000001,1970,1,0,Philippines,Southeast Asia,Tarlac,Unknown,15.478598,120.599741,...,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown,NaN,1,NaT
3,197001000002,1970,1,0,Greece,Western Europe,Attica,Athens,37.997490,23.762728,...,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives,NaN,1,NaT
4,197001000003,1970,1,0,Japan,East Asia,Fukouka,Fukouka,33.580412,130.396361,...,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary,NaN,1,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,Somalia,Sub-Saharan Africa,Middle Shebelle,Ceelka Geelow,2.359673,45.385034,...,1.0,2.0,Checkpoint,12/31/2017: Assailants opened fire on a Somali...,Al-Shabaab,Military,Firearms,-99.0,1,2017-12-31
181687,201712310029,2017,12,31,Syria,Middle East & North Africa,Lattakia,Jableh,35.407278,35.942679,...,2.0,7.0,Hmeymim Air Base,12/31/2017: Assailants launched mortars at the...,Muslim extremists,Military,Explosives,-99.0,1,2017-12-31
181688,201712310030,2017,12,31,Philippines,Southeast Asia,Maguindanao,Kubentog,6.900742,124.437908,...,0.0,0.0,Houses,12/31/2017: Assailants set fire to houses in K...,Bangsamoro Islamic Freedom Movement (BIFM),Private Citizens & Property,Incendiary,-99.0,1,2017-12-31
181689,201712310031,2017,12,31,India,South Asia,Manipur,Imphal,24.798346,93.940430,...,0.0,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives,-99.0,0,2017-12-31
181690,201712310032,2017,12,31,Philippines,Southeast Asia,Maguindanao,Cotabato City,7.209594,124.241966,...,0.0,0.0,Unknown,12/31/2017: An explosive device was discovered...,Unknown,Unknown,Explosives,-99.0,0,2017-12-31

In [94]:
df.fillna(0)
df

,eventid,Year,Month,Day,Country,Region,state,city,latitude,longitude,...,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type,nperps,success,Date
0,197000000001,1970,7,2,Dominican Republic,Central America & Caribbean,NaN,Santo Domingo,18.456792,-69.951164,...,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown,NaN,1,1970-07-02
1,197000000002,1970,0,0,Mexico,North America,Federal,Mexico city,19.371887,-99.086624,...,0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown,7.0,1,NaT
2,197001000001,1970,1,0,Philippines,Southeast Asia,Tarlac,Unknown,15.478598,120.599741,...,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown,NaN,1,NaT
3,197001000002,1970,1,0,Greece,Western Europe,Attica,Athens,37.997490,23.762728,...,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives,NaN,1,NaT
4,197001000003,1970,1,0,Japan,East Asia,Fukouka,Fukouka,33.580412,130.396361,...,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary,NaN,1,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,Somalia,Sub-Saharan Africa,Middle Shebelle,Ceelka Geelow,2.359673,45.385034,...,1.0,2.0,Checkpoint,12/31/2017: Assailants opened fire on a Somali...,Al-Shabaab,Military,Firearms,-99.0,1,2017-12-31
181687,201712310029,2017,12,31,Syria,Middle East & North Africa,Lattakia,Jableh,35.407278,35.942679,...,2.0,7.0,Hmeymim Air Base,12/31/2017: Assailants launched mortars at the...,Muslim extremists,Military,Explosives,-99.0,1,2017-12-31
181688,201712310030,2017,12,31,Philippines,Southeast Asia,Maguindanao,Kubentog,6.900742,124.437908,...,0.0,0.0,Houses,12/31/2017: Assailants set fire to houses in K...,Bangsamoro Islamic Freedom Movement (BIFM),Private Citizens & Property,Incendiary,-99.0,1,2017-12-31
181689,201712310031,2017,12,31,India,South Asia,Manipur,Imphal,24.798346,93.940430,...,0.0,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives,-99.0,0,2017-12-31
181690,201712310032,2017,12,31,Philippines,Southeast Asia,Maguindanao,Cotabato City,7.209594,124.241966,...,0.0,0.0,Unknown,12/31/2017: An explosive device was discovered...,Unknown,Unknown,Explosives,-99.0,0,2017-12-31

In [95]:
df.columns

Index(['eventid', 'Year', 'Month', 'Day', 'Country', 'Region', 'state', 'city',
       'latitude', 'longitude', 'AttackType', 'Killed', 'Wounded', 'Target',
       'Summary', 'Group', 'Target_type', 'Weapon_type', 'nperps', 'success',
       'Date'],
      dtype='object')

In [96]:
df['severity'] = df['Killed'].fillna(0) * 2 + df['Wounded'].fillna(0)
df

C:\Users\User\AppData\Local\Temp\ipykernel_1568\2863290102.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['severity'] = df['Killed'].fillna(0) * 2 + df['Wounded'].fillna(0)

,eventid,Year,Month,Day,Country,Region,state,city,latitude,longitude,...,Wounded,Target,Summary,Group,Target_type,Weapon_type,nperps,success,Date,severity
0,197000000001,1970,7,2,Dominican Republic,Central America & Caribbean,NaN,Santo Domingo,18.456792,-69.951164,...,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown,NaN,1,1970-07-02,2.0
1,197000000002,1970,0,0,Mexico,North America,Federal,Mexico city,19.371887,-99.086624,...,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown,7.0,1,NaT,0.0
2,197001000001,1970,1,0,Philippines,Southeast Asia,Tarlac,Unknown,15.478598,120.599741,...,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown,NaN,1,NaT,2.0
3,197001000002,1970,1,0,Greece,Western Europe,Attica,Athens,37.997490,23.762728,...,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives,NaN,1,NaT,0.0
4,197001000003,1970,1,0,Japan,East Asia,Fukouka,Fukouka,33.580412,130.396361,...,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary,NaN,1,NaT,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,Somalia,Sub-Saharan Africa,Middle Shebelle,Ceelka Geelow,2.359673,45.385034,...,2.0,Checkpoint,12/31/2017: Assailants opened fire on a Somali...,Al-Shabaab,Military,Firearms,-99.0,1,2017-12-31,4.0
181687,201712310029,2017,12,31,Syria,Middle East & North Africa,Lattakia,Jableh,35.407278,35.942679,...,7.0,Hmeymim Air Base,12/31/2017: Assailants launched mortars at the...,Muslim extremists,Military,Explosives,-99.0,1,2017-12-31,11.0
181688,201712310030,2017,12,31,Philippines,Southeast Asia,Maguindanao,Kubentog,6.900742,124.437908,...,0.0,Houses,12/31/2017: Assailants set fire to houses in K...,Bangsamoro Islamic Freedom Movement (BIFM),Private Citizens & Property,Incendiary,-99.0,1,2017-12-31,0.0
181689,201712310031,2017,12,31,India,South Asia,Manipur,Imphal,24.798346,93.940430,...,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives,-99.0,0,2017-12-31,0.0
181690,201712310032,2017,12,31,Philippines,Southeast Asia,Maguindanao,Cotabato City,7.209594,124.241966,...,0.0,Unknown,12/31/2017: An explosive device was discovered...,Unknown,Unknown,Explosives,-99.0,0,2017-12-31,0.0

In [97]:
df.loc[df['Wounded'] < 0, 'Wounded'] = np.nan
df

,eventid,Year,Month,Day,Country,Region,state,city,latitude,longitude,...,Wounded,Target,Summary,Group,Target_type,Weapon_type,nperps,success,Date,severity
0,197000000001,1970,7,2,Dominican Republic,Central America & Caribbean,NaN,Santo Domingo,18.456792,-69.951164,...,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown,NaN,1,1970-07-02,2.0
1,197000000002,1970,0,0,Mexico,North America,Federal,Mexico city,19.371887,-99.086624,...,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown,7.0,1,NaT,0.0
2,197001000001,1970,1,0,Philippines,Southeast Asia,Tarlac,Unknown,15.478598,120.599741,...,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown,NaN,1,NaT,2.0
3,197001000002,1970,1,0,Greece,Western Europe,Attica,Athens,37.997490,23.762728,...,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives,NaN,1,NaT,0.0
4,197001000003,1970,1,0,Japan,East Asia,Fukouka,Fukouka,33.580412,130.396361,...,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary,NaN,1,NaT,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,Somalia,Sub-Saharan Africa,Middle Shebelle,Ceelka Geelow,2.359673,45.385034,...,2.0,Checkpoint,12/31/2017: Assailants opened fire on a Somali...,Al-Shabaab,Military,Firearms,-99.0,1,2017-12-31,4.0
181687,201712310029,2017,12,31,Syria,Middle East & North Africa,Lattakia,Jableh,35.407278,35.942679,...,7.0,Hmeymim Air Base,12/31/2017: Assailants launched mortars at the...,Muslim extremists,Military,Explosives,-99.0,1,2017-12-31,11.0
181688,201712310030,2017,12,31,Philippines,Southeast Asia,Maguindanao,Kubentog,6.900742,124.437908,...,0.0,Houses,12/31/2017: Assailants set fire to houses in K...,Bangsamoro Islamic Freedom Movement (BIFM),Private Citizens & Property,Incendiary,-99.0,1,2017-12-31,0.0
181689,201712310031,2017,12,31,India,South Asia,Manipur,Imphal,24.798346,93.940430,...,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives,-99.0,0,2017-12-31,0.0
181690,201712310032,2017,12,31,Philippines,Southeast Asia,Maguindanao,Cotabato City,7.209594,124.241966,...,0.0,Unknown,12/31/2017: An explosive device was discovered...,Unknown,Unknown,Explosives,-99.0,0,2017-12-31,0.0

In [110]:
data = pd.read_csv('../csv_files/RAND_Database_of_Worldwide_Terrorism_Incidents.csv', encoding='latin1', low_memory=False)
data

,Date,City,Country,Perpetrator,Weapon,Injuries,Fatalities,Description
0,9-Feb-68,Buenos Aires,Argentina,Unknown,Firearms,0,0,ARGENTINA. The second floor of the U.S. embas...
1,12-Feb-68,Santo Domingo,Dominican Republic,Unknown,Explosives,0,0,DOMINICAN REPUBLIC. A homemade bomb was found...
2,13-Feb-68,Montevideo,Uruguay,Unknown,Fire or Firebomb,0,0,URUGUAY. A Molotov cocktail was thrown outsid...
3,20-Feb-68,Santiago,Chile,Unknown,Explosives,0,0,CHILE. An explosion from a single stick of dy...
4,21-Feb-68,"Washington, D.C.",United States,Unknown,Explosives,0,0,UNITED STATES. The Soviet embassy was bombed ...
...,...,...,...,...,...,...,...,...
40124,25-Dec-09,Detroit,United States,Al Qaeda,Explosives,1,0,"On December 25, 2009 Umar Farouk Abdulmutallab..."
40125,27-Dec-09,Athens,Greece,Conspiracy of Fire Cells of Thessaloniki-Athens,Explosives,0,0,"On December 27, 2009 a bomb placed inside a ba..."
40126,28-Dec-09,San Juan,Colombia,FARC,Fire or Firebomb,0,0,"On December 28, 2009 FARC rebels torched two b..."
40127,30-Dec-09,Porto Vecchio,France,Unknown,Explosives,0,0,"On December 30, 2009 a bomb was planted outsid..."
40128,31-Dec-09,Cloghoge,Northern Ireland,Unknown,Explosives,0,0,"On December 31, 2009 a 1000kg bomb was discove..."

In [111]:
data['Date'] = pd.to_datetime(data['Date'], format='%d-%b-%y', errors='coerce')
# print(data[data['Date'].isna()])
data

,Date,City,Country,Perpetrator,Weapon,Injuries,Fatalities,Description
0,2068-02-09,Buenos Aires,Argentina,Unknown,Firearms,0,0,ARGENTINA. The second floor of the U.S. embas...
1,2068-02-12,Santo Domingo,Dominican Republic,Unknown,Explosives,0,0,DOMINICAN REPUBLIC. A homemade bomb was found...
2,2068-02-13,Montevideo,Uruguay,Unknown,Fire or Firebomb,0,0,URUGUAY. A Molotov cocktail was thrown outsid...
3,2068-02-20,Santiago,Chile,Unknown,Explosives,0,0,CHILE. An explosion from a single stick of dy...
4,2068-02-21,"Washington, D.C.",United States,Unknown,Explosives,0,0,UNITED STATES. The Soviet embassy was bombed ...
...,...,...,...,...,...,...,...,...
40124,2009-12-25,Detroit,United States,Al Qaeda,Explosives,1,0,"On December 25, 2009 Umar Farouk Abdulmutallab..."
40125,2009-12-27,Athens,Greece,Conspiracy of Fire Cells of Thessaloniki-Athens,Explosives,0,0,"On December 27, 2009 a bomb placed inside a ba..."
40126,2009-12-28,San Juan,Colombia,FARC,Fire or Firebomb,0,0,"On December 28, 2009 FARC rebels torched two b..."
40127,2009-12-30,Porto Vecchio,France,Unknown,Explosives,0,0,"On December 30, 2009 a bomb was planted outsid..."
40128,2009-12-31,Cloghoge,Northern Ireland,Unknown,Explosives,0,0,"On December 31, 2009 a 1000kg bomb was discove..."

In [112]:
from uuid import uuid4

data["eventid"] = [str(uuid4()) for _ in range(len(data))]
data["Year"] = pd.to_datetime(data["Date"], errors="coerce").dt.year.fillna(0).astype(int)
data["Month"] = pd.to_datetime(data["Date"], errors="coerce").dt.month.fillna(0).astype(int)
data["Day"] = pd.to_datetime(data["Date"], errors="coerce").dt.day.fillna(0).astype(int)

columns_with_defaults = {
    "City": "Unknown",
    "Country": "Unknown",
    "Perpetrator": "Unknown Group",
    "Weapon": "Unknown Weapon",
    "Injuries": 0,
    "Fatalities": 0,
    "Description": "No description available",
}

for col, default in columns_with_defaults.items():
    if col not in data.columns:
        data[col] = default
    data[col] = data[col].fillna(default)

data.rename(
    columns={
        "Perpetrator": "Group",
        "Weapon": "weapon_type",
        "Injuries": "Wounded",
        "Fatalities": "killed",
        "Description": "Summary",
        'City': 'city',
    },
    inplace=True,
)

columns_to_remove = [
    "City", "Perpetrator", "Weapon", "Injuries", "Fatalities", "Description", "date"
]
data.drop(columns=[col for col in columns_to_remove if col in data.columns], inplace=True)

data.reset_index(drop=True, inplace=True)
data

,Date,city,Country,Group,weapon_type,Wounded,killed,Summary,eventid,Year,Month,Day
0,2068-02-09,Buenos Aires,Argentina,Unknown,Firearms,0,0,ARGENTINA. The second floor of the U.S. embas...,a2da3a1d-98ac-4cbb-8e96-8a7892e34ce3,2068,2,9
1,2068-02-12,Santo Domingo,Dominican Republic,Unknown,Explosives,0,0,DOMINICAN REPUBLIC. A homemade bomb was found...,09c51507-2ba9-474c-bbe8-caa094d4b2a4,2068,2,12
2,2068-02-13,Montevideo,Uruguay,Unknown,Fire or Firebomb,0,0,URUGUAY. A Molotov cocktail was thrown outsid...,6339e93e-50ce-4462-b3ee-b320c0a0df07,2068,2,13
3,2068-02-20,Santiago,Chile,Unknown,Explosives,0,0,CHILE. An explosion from a single stick of dy...,71dc0d1a-7692-477d-804e-b864d506a050,2068,2,20
4,2068-02-21,"Washington, D.C.",United States,Unknown,Explosives,0,0,UNITED STATES. The Soviet embassy was bombed ...,371effce-9ed8-46e4-9c98-d5c7b4d2df3e,2068,2,21
...,...,...,...,...,...,...,...,...,...,...,...,...
40124,2009-12-25,Detroit,United States,Al Qaeda,Explosives,1,0,"On December 25, 2009 Umar Farouk Abdulmutallab...",d4a7afbc-a5c1-4544-8901-580e8d6a5462,2009,12,25
40125,2009-12-27,Athens,Greece,Conspiracy of Fire Cells of Thessaloniki-Athens,Explosives,0,0,"On December 27, 2009 a bomb placed inside a ba...",e6afe072-d31a-46e4-869b-f778e051968a,2009,12,27
40126,2009-12-28,San Juan,Colombia,FARC,Fire or Firebomb,0,0,"On December 28, 2009 FARC rebels torched two b...",76b5c44a-e2e4-4552-96c8-8aab12c2958d,2009,12,28
40127,2009-12-30,Porto Vecchio,France,Unknown,Explosives,0,0,"On December 30, 2009 a bomb was planted outsid...",37d2b21c-70e7-4204-9d6a-8c5b73aacf25,2009,12,30
40128,2009-12-31,Cloghoge,Northern Ireland,Unknown,Explosives,0,0,"On December 31, 2009 a 1000kg bomb was discove...",af70b44f-6767-48c7-9a73-0d5a695979cb,2009,12,31

In [113]:
merged_df = pd.concat([df, data], ignore_index=True)
merged_df.columns

Index(['eventid', 'Year', 'Month', 'Day', 'Country', 'Region', 'state', 'city',
       'latitude', 'longitude', 'AttackType', 'Killed', 'Wounded', 'Target',
       'Summary', 'Group', 'Target_type', 'Weapon_type', 'nperps', 'success',
       'Date', 'severity', 'weapon_type', 'killed'],
      dtype='object')

In [114]:
merged_df = merged_df.drop_duplicates()

In [115]:
merged_df.to_csv('normalized_data.csv', index=False)
print('Successfully saved normalized data')

Successfully saved normalized data

In [ ]:
df1 = pd.read_csv('../csv_files/RAND_Database_of_Worldwide_Terrorism_Incidents.csv', encoding='latin1', low_memory=False)