In [82]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [83]:
df = pd.read_csv('../csv_files/globalterrorismdb_1000.csv', encoding='latin1')
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,1.970000e+11,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,1.970000e+11,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,1.970010e+11,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,1.970010e+11,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,1.970010e+11,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [84]:
df.rename(columns={'iyear':'Year','imonth':'Month','iday':'Day','country_txt':'Country','provstate':'state',
                     'region_txt':'Region','attacktype1_txt':'AttackType','target1':'Target','nkill':'Killed',
                     'nwound': 'Wounded','summary':'Summary','gname':'Group','targtype1_txt':'Target_type',
                     'weaptype1_txt':'Weapon_type','motive':'Motive', 'nperps': 'nperps'
                    },inplace=True)
df

,eventid,Year,Month,Day,approxdate,extended,resolution,country,Country,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,1.970000e+11,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,1.970000e+11,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,1.970010e+11,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,1.970010e+11,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,1.970010e+11,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1.971080e+11,1971,8,30,NaN,0,NaN,217,United States,1,...,"Robert Miles, Dennis Ramsey, Wallace Fruit, Al...","""School Buses in Pontiac, Mich., Are Destroyed...","William K. Stevens, ""5 Ex-Klansmen Convicted i...","""Bomb Admitted by Dying Klansman,"" New York Ti...",Hewitt Project,0,0,0,0,NaN
996,1.971090e+11,1971,9,0,NaN,0,NaN,36,Cambodia,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
997,1.971090e+11,1971,9,0,NaN,0,NaN,36,Cambodia,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
998,1.971090e+11,1971,9,1,NaN,0,NaN,217,United States,1,...,This attack took place during heightened racia...,"James T. Wooten, ""Busing Opposition Stiffens i...","Marcia McKnight Trick, ""Chronology of Incident...","Christopher Hewitt, ""Political Violence and Te...",Hewitt Project,-9,-9,0,-9,NaN
999,1.971090e+11,1971,9,2,NaN,0,NaN,217,United States,1,...,Witnesses saw three males run away from the sc...,"""Carver School Firebombed at Kannapolis,"" New ...","James T. Wooten, ""Busing Opposition Stiffens i...","Marcia McKnight Trick, ""Chronology of Incident...",Hewitt Project,-9,-9,0,-9,NaN

In [85]:
df = df[['eventid','Year','Month','Day','Country','Region','state','city','latitude','longitude','AttackType','Killed','Wounded',
            'Target','Summary','Group','Target_type','Weapon_type','Motive', 'nperps', 'success']]
df

,eventid,Year,Month,Day,Country,Region,state,city,latitude,longitude,...,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type,Motive,nperps,success
0,1.970000e+11,1970,7,2,Dominican Republic,Central America & Caribbean,NaN,Santo Domingo,18.456792,-69.951164,...,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown,NaN,NaN,1
1,1.970000e+11,1970,0,0,Mexico,North America,Federal,Mexico city,19.371887,-99.086624,...,0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown,NaN,7.0,1
2,1.970010e+11,1970,1,0,Philippines,Southeast Asia,Tarlac,Unknown,15.478598,120.599741,...,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown,NaN,NaN,1
3,1.970010e+11,1970,1,0,Greece,Western Europe,Attica,Athens,37.997490,23.762728,...,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives,NaN,NaN,1
4,1.970010e+11,1970,1,0,Japan,East Asia,Fukouka,Fukouka,33.580412,130.396361,...,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1.971080e+11,1971,8,30,United States,North America,Michigan,Pontiac,42.636876,-83.288425,...,0.0,0.0,School buses of Pontiac Michigan,"8/30/1971: Ten school buses, that would have b...",Ku Klux Klan,Transportation,Explosives,To prevent school desegregation.,5.0,1
996,1.971090e+11,1971,9,0,Cambodia,Southeast Asia,Phnom Penh,Phnom Penh,11.558831,104.917445,...,0.0,0.0,Ambassador,NaN,Unknown,Government (Diplomatic),Explosives,NaN,NaN,0
997,1.971090e+11,1971,9,0,Cambodia,Southeast Asia,Phnom Penh,Phnom Penh,11.558831,104.917445,...,2.0,10.0,Embassy personnel,NaN,Unknown,Government (Diplomatic),Explosives,NaN,NaN,1
998,1.971090e+11,1971,9,1,United States,North America,Georgia,Columbus,32.462925,-84.987629,...,0.0,0.0,NaN,9/1/1971: Unknown perpetrators detonated a dyn...,White extremists,Educational Institution,Explosives,To protest/prevent school integration.,-99.0,1
999,1.971090e+11,1971,9,2,United States,North America,North Carolina,Kannapolis,35.487474,-80.622003,...,0.0,0.0,George Washington Carver Elementary School,9/2/1971: Unknown perpetrators threw eight fir...,White extremists,Educational Institution,Incendiary,To protest/prevent school integration.,3.0,1

In [86]:
print("Country with the most attacks:",df['Country'].value_counts().idxmax())
print("City with the most attacks:",df['city'].value_counts().index[1]) #first entry is 'unknown'
print("Region with the most attacks:",df['Region'].value_counts().idxmax())
print("Year with the most attacks:",df['Year'].value_counts().idxmax())
print("Month with the most attacks:",df['Month'].value_counts().idxmax())
print("Group with the most attacks:",df['Group'].value_counts().index[1])
print("Most Attack Types:",df['Weapon_type'].value_counts().idxmax())

Country with the most attacks: United States
City with the most attacks: Montevideo
Region with the most attacks: North America
Year with the most attacks: 1970
Month with the most attacks: 4
Group with the most attacks: Left-Wing Militants
Most Attack Types: Explosives

In [92]:
df.loc[:, 'Date'] = pd.to_datetime(df[['Year', 'Month', 'Day']], errors='coerce')
df

C:\Users\User\AppData\Local\Temp\ipykernel_1700\3046581338.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'Date'] = pd.to_datetime(df[['Year', 'Month', 'Day']], errors='coerce')

,eventid,Year,Month,Day,Country,Region,state,city,latitude,longitude,...,Wounded,Target,Summary,Group,Target_type,Weapon_type,Motive,nperps,success,Date
0,1.970000e+11,1970,7,2,Dominican Republic,Central America & Caribbean,NaN,Santo Domingo,18.456792,-69.951164,...,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown,NaN,NaN,1,1970-07-02
1,1.970000e+11,1970,0,0,Mexico,North America,Federal,Mexico city,19.371887,-99.086624,...,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown,NaN,7.0,1,NaT
2,1.970010e+11,1970,1,0,Philippines,Southeast Asia,Tarlac,Unknown,15.478598,120.599741,...,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown,NaN,NaN,1,NaT
3,1.970010e+11,1970,1,0,Greece,Western Europe,Attica,Athens,37.997490,23.762728,...,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives,NaN,NaN,1,NaT
4,1.970010e+11,1970,1,0,Japan,East Asia,Fukouka,Fukouka,33.580412,130.396361,...,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary,NaN,NaN,1,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1.971080e+11,1971,8,30,United States,North America,Michigan,Pontiac,42.636876,-83.288425,...,0.0,School buses of Pontiac Michigan,"8/30/1971: Ten school buses, that would have b...",Ku Klux Klan,Transportation,Explosives,To prevent school desegregation.,5.0,1,1971-08-30
996,1.971090e+11,1971,9,0,Cambodia,Southeast Asia,Phnom Penh,Phnom Penh,11.558831,104.917445,...,0.0,Ambassador,NaN,Unknown,Government (Diplomatic),Explosives,NaN,NaN,0,NaT
997,1.971090e+11,1971,9,0,Cambodia,Southeast Asia,Phnom Penh,Phnom Penh,11.558831,104.917445,...,10.0,Embassy personnel,NaN,Unknown,Government (Diplomatic),Explosives,NaN,NaN,1,NaT
998,1.971090e+11,1971,9,1,United States,North America,Georgia,Columbus,32.462925,-84.987629,...,0.0,NaN,9/1/1971: Unknown perpetrators detonated a dyn...,White extremists,Educational Institution,Explosives,To protest/prevent school integration.,-99.0,1,1971-09-01
999,1.971090e+11,1971,9,2,United States,North America,North Carolina,Kannapolis,35.487474,-80.622003,...,0.0,George Washington Carver Elementary School,9/2/1971: Unknown perpetrators threw eight fir...,White extremists,Educational Institution,Incendiary,To protest/prevent school integration.,3.0,1,1971-09-02